
            header{
                background-color: rgb(23, 4, 23);
                color: (azure);
                border: black;
                width: 70%;
                height: 100%;
                text-shadow: 2px 2px red;
            }
            body{
                background-color: rgb(48, 59, 67);
                text-align: center;
                color: rgb(8, 57, 101);
                text-shadow: 3px 2px 5px yellow;
            }
            footer{
                background-color: rgb(96, 45, 62);
                text-align: center;
                color: rgb(14, 171, 118);
                
                height: 100px;
            }
          
            .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #53606b;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
