
            header{
              /*changing the colors of the text and background, also adjusting the position*/
                background-color: rgb(211, 44, 211);
                border: rgb(219, 209, 209);
                width: 70%;
                height: 100%;
                margin-left: 15vw;
                margin-right: 20vw;
                text-shadow: 2px 2px rgb(84, 51, 51);
            }
            body{
                background-color: rgb(66, 135, 177);
                text-align: center;
                color: rgb(4, 44, 79);
                text-shadow: 3px 2px 5px rgb(187, 187, 174);
            }
            footer{
                background-color: rgb(147, 19, 66);
                text-align: center;
                color: rgb(14, 152, 106);  
                height: 100px;
            }
          
            .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(146, 103, 103, 0.8);
  border: 1px solid rgba(65, 57, 57, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
