body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050316f3;
}

header {
    background-color: #eef7ee;
    color: #010f01;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.contact-info, .contact-form {
    background-color: rgb(104, 110, 104);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2, .contact-form h2 {
    margin-top: 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
}

footer {
    background-color: #333;
    color: rgb(235, 24, 129);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
