<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <main>
        
        <section class="contact-info">
            <h2>Contact Information</h2>
            <p>If you have any questions, feel free to reach out to us:</p>
            <ul>
                <li><img src="{% static 'image/Cyborg.jpg' %}" alt="Njobe Loveline" width="200" height=auto></li>
                <li>Name: Njah Hurbert Nformbe</li>
                <li>Phone: 672307418</li>
                <li>Email: <a href =' '>njah.nformbe@ictuniversity.edu.cm</a></li>
                <li> Profession:Student at the ICT University , I am a Software Engineering developer i design program,build,deploy
                    and maintain Software using many different skills and tools and also creating codes for updates,operational manuals
                    and specifications etc.


                </li>
            </ul>

            <ul>
                <li><img src="{% static 'image/Loveline.jpg' %}" alt="Njobe Loveline" width="200" height=auto></li>
                <li>Name: Njobe Loveline</li>
                <li>Phone: 672307418</li>
                <li>Email: <a href =' '>njah.nformbe@ictuniversity.edu.cm</a></li>
                <li>Profession:Student at the ICT University , I am a Software Engineering developer i design program,build,deploy
                    and maintain Software using many different skills and tools and also creating codes for updates,operational manuals
                    and specifications etc.</li>
            </ul>

            <ul>
                <li><img src="{% static 'image/Juan.jpg' %}" alt="Juan" width="200" height=auto></li>
                <li>Name:MIKE Juan Victor </li>
                <li>Phone: 652392409</li>
                <li>Email: <a href =' '>juanvictor.mike@ictuniversity.edu.cm</a></li>
                <li>Profession:Student at the ICT University , I am a Software Engineering developer i design program,build,deploy
                    and maintain Software using many different skills and tools and also creating codes for updates,operational manuals
                    and specifications etc.</li>
            </ul>

            <ul>
                <li><img src="{% static 'image/Derek.jpg' %}" alt="Derek" width="200" height=auto></li>
                <li>Name: Noumbissi Derek </li>
                <li>Phone: 691828106</li>
                <li>Email: <a href =' '>nysdderek@gmail.com</a></li>
                <li>Profession:Students at the ICT University , I am a sudent in Computer Science. I develop new hardware,computing techniques
                    and materials while leveraging their expertise in various computer technologies and also in optimizing and designing systems
                    and applications;bringing new technological innovations to reality.
                </li>
            </ul>

            <ul>
                <li><img src="{% static 'image/Andela.jpg' %}" alt="Armel" width="200" height=auto></li>
                <li>Name: Andela Armel Roland </li>
                <li>Phone: 652811282</li>
                <li>Email: <a href =' '>armelandela889@gmail.com</a></li>
                <li> Profession:Students at the ICT University Am a specialists in Informations System and Working.i design ,develop,implement,maintain,
                    and support IT systems and also up-to-date on the latest technologies.i build ,repair,install and maintain the hardware and Software
                    that runs from one or multiple locations
                </li>
            </ul>

            <ul>
                <li><img src="{% static 'image/Madara.jpg' %}" alt="Madara" width="200" height=auto></li>
                <li>Name: Ngomo A Koung Justin Isaac</li>
                <li>Phone: 621209654</li>
                <li>Email: <a href =' '>justinisaacngomoakoung@ictuniversity.edu.cm</a></li>
                <li>Profession:Student at the ICT University , I am a Software Engineering developer i design program,build,deploy
                    and maintain Software using many different skills and tools and also creating codes for updates,operational manuals
                    and specifications etc. </li>
            </ul>

            <ul>
                <li>Name: Kayo Ange </li>
                <li>Phone: 697180431</li>
                <li>Email: <a href =' '>njah.nformbe@ictuniversity.edu.cm</a></li>
                <li>Profession:Student at the ICT University , I am a Software Engineering developer i design program,build,deploy
                    and maintain Software using many different skills and tools and also creating codes for updates,operational manuals
                    and specifications etc.</li>
            </ul>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 SUMMER WEB. Thank you for contacting Us.</p>
    </footer>
</body>
</html>