<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'chat.css' %}">
</head>
<body background="image/bot.jpg ">
    <div class="chat-container">
        <div class="chat-header">
            <a href="main.html">
                <button class="backbtn">
                    <img src="image/backbutton.jpg" height="40px" width="40px"  style="border-radius: 15px ;" >
                </button>
            </a>
            <span class="chat-headtext">Chat With NYSDBOT</span>
        </div>
        <div class="chat-box">
            <div class="message bot-message">
                <div class="avatar">
                    <img src="image/bot2.jpg" alt="Bot Avatar">
                </div>
                <div class="message-content">
                    <p>Hello! How can I assist you today?</p>
                </div>
            </div>
            <div class="message user-message">
                <div class="message-content">
                    <p>I need help with my order.</p>
                </div>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Write something and send...">
            <button>Send</button>
        </div>
    </div>
</body>
</html>