<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
    </header>

    <main>
        <section class="contact-info">
            <h2>Contact Information</h2>
            <p>If you have any questions, feel free to reach out to us:</p>
            <div class="person">
                <div class="person-info">
                    <h3>Noumbissi Derek</h3>
                    <p>Phone: 691828106</p>
                    <p>Email: <a href ="">nysdderek@gmail.com</a></p>
                    <p>Address: Yaounde, Messassi(Yatima-Mayati)</p>
                </div>
                <div class="person-photo">
                    <img src="{% static 'image/Derek.jpg' %}" alt="Derek" height="150" width="150">
                </div>
            </div>

            <div class="person">
                <div class="person-info">
                    <h3>Njah Hurbert Nformbe</h3>
                    <p>Phone: 672307418</p>
                    <p>Email: <a href ="">njah.nformbe@ictuniversity.edu.cm</a></p>
                    <p>Address: 1234 Bastos, Yaounde, Center, 00237</p>
                </div>
                <div class="person-photo">
                    <img src="{% static 'image/Cyborg.jpg' %}" alt="cyborg" height="150" width="150" >
                </div>
            </div>

            <div class="person">
                <div class="person-info">
                    <h3>Njobe Loveline</h3>
                    <p>Phone: 672307418</p>
                    <p>Email: <a href ="">njah.nformbe@ictuniversity.edu.cm</a></p>
                    <p>Address: 1234 Bastos, Yaounde, Center, 00237</p>
                </div>
                <div class="person-photo">
                    <img src="{% static 'image/Loveline.jpg' %}" alt="Njobe Loveline" height="150" width="150">
                </div>
            </div>

            <div class="person">
                <div class="person-info">
                    <h3>MIKE Juan Victor</h3>
                    <p>Phone: 652392409</p>
                    <p>Email: <a href ="">juanvictor.mike@ictuniversity.edu.cm</a></p>
                    <p>Address: Yaounde, Messassi-Zoatoupsi</p>
                </div>
                <div class="person-photo">
                    <img src="{% static 'image/Juan.jpg' %}" alt="Juan" height="150" width="150">
                </div>
            </div>

           
            <div class="person">
                <div class="person-info">
                    <h3>Andela Armel Roland</h3>
                    <p>Phone: 652811282</p>
                    <p>Email: <a href ="">armelandela889@gmail.com</a></p>
                    <p>Address: Yaounde, Messassi-Zoatoupsi</p>
                </div>
                <div class="person-photo">
                    <img src="{% static 'image/Andela.jpg' %}" alt="Armel" height="150" width="150">
                </div>
            </div>

            <div class="person">
                <div class="person-info">
                    <h3>Ngomo A Koung Justin Isaac</h3>
                    <p>Phone: 621209654</p>
                    <p>Email: <a href ="">justinisaacngomoakoung@ictuniversity.edu.cm</a></p>
                    <p>Address: Konoha, Japan</p>
                </div>
                <div class="person-photo">
                    <img src="{% static 'image/Madara.jpg' %}" alt="Madara" height="150" width="150">
                </div>
            </div>

            <div class="person">
                <div class="person-info">
                    <h3>Kayo Ange</h3>
                    <p>Phone: 697180431</p>
                    <p>Email: <a href ="">kayoange@ictuniversity.edu.cm</a></p>
                    <p>Address: Konoha, Japan</p>
                </div>
                <div class="person-photo">
                    <img src="{% static 'image/Ange.jpg' %}" alt="Ange" height="150" width="150">
                </div>
            </div>
        </section>    
    </main>

    <footer>
        <p>&copy; 2024 SUMMER WEB. Thank you for contacting Us.</p>
    </footer>
</body>
</html>
