<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
    </header>

    <main>
        
        <section class="contact-info">
            <h2>Contact Information</h2>
            <p>If you have any questions, feel free to reach out to us:</p>
            <ul>
                <li>Name: Njah Hurbert Nformbe</li>
                <li>Phone: 672307418</li>
                <li>Email: <a href =' '>njah.nformbe@ictuniversity.edu.cm</a></li>
                <li>Address: 1234 Bastos, Younde, Center, 00237</li>
            </ul>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 SUMMER WEB. Thank you for contacting Us.</p>
    </footer>
</body>
</html>
