<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
    </header>

    <main>
        <section class="contact-info">
            <h2>Contact Information</h2>
            <p>If you have any questions, feel free to reach out to us:</p>
            <div class="person">
                <div class="person-info">
                    <h3>Noumbissi Derek</h3>
                    <div class="person-photo">
                        <img src="{% static 'image/Derek.jpg' %}" alt="Derek" height="150" width="150" style="object-fit: cover ;border-radius: 50px; border: 2px solid #333;">
                    </div>
                    <p>Phone:<a href="tel:+237691828106"> 691828106</a></p>
                    <p>Email: <a href ="mailto:nysdderek@gmail.com?subject=Customer%20Service">nysdderek@gmail.com</a></p>
                    <p>Address: Yaounde, Messassi(Yatima-Mayati)</p>
                </div>
                
            </div>

           
        </section>    
    </main>

    <footer>
        <p>&copy; 2024 SUMMER WEB. Thank you for contacting Us.</p>
    </footer>
</body>
</html>
