<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form | Codehal</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Login.css' %}">
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>LOGIN</h1>
            <div class="input-box">
                <input type="text" placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required>
            </div>
                <button class="btn">Login</button>
                <div class="register-link">
                    <p>Don't have an account? <a href="{% url 'Register' %}">Sign up</a></p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
