<!DOCTYPE html>
<HTML>
    <HEAD>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width,initial-scale =1.0">
        <TITLE>ELECTRONYSD</TITLE>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    </HEAD>
    
    
    <body>
        <header>
            <img id="logo" src="{% static 'image/logo nysd.jpg'%}" width="100px" height="100px" alt="NYSD" style="box-shadow: 0 0 10px rgba(14, 6, 243, 0.655);">
        <h1 class="search-bar">

        <form action="{% url 'search' %}" method="get">    
            <input type="search" name="q" style="width: 300px;height:30px; font-size: 20; font-family:Georgia, 'Times New Roman', Times, serif;border-radius: 10px;background-color: rgb(17, 49, 49);">
            <button type="submit" style="border-radius: 40px;border-color: rgb(148, 27, 169);color: rgb(18, 18, 86);height: 29px;width:100px;background-color: rgb(61, 58, 58);text-align: center;font-size:18px;">Search</button>
        </form>

        </h1>
            <nav>
             
                <a class="HM" href="{% url 'home' %}"><img src="{% static 'image/home-page.png'%}" width="40" height="40">Home</a>
                <a class="CB" href="{% url 'chat' %}"><img src="{% static 'image/chatbot.png'%}" width="40" height="40">Chat</a>
                <a class="CN" href="{% url 'contact' %}"><img src="{% static 'image/telephone.png'%}" width="40" height="40">Contact</a>
                <a class="AB" href="{% url 'service' %}"><img src="{% static 'image/information.png'%}" width="40" height="40">Service</a>
                <a  href="{% url 'login' %}"><img src="{% static 'image/login.png'%}" width="40" height="40"></a>
               
            </nav>
           
          
        </header>
        <main>
            <section class ="presentation">
                <div class="video-container" >
                     <video autoplay loop muted>
                      <source src="{% static 'mainvideo.mp4'%}" type="video/mp4" >
                       
                    Your browser does not support the video tag.
                      </video>
                </div>
                <div class="maincontent">
                    <p class="text-gradient">WELCOME TO ELECTRONYSD</p>
                </div>
            </section>

                <section class="featured-products">
                    <h2>Featured Products</h2>
                    <div class="cart-icon">
                        <img src="{% static 'image/Cart.jpeg'%}" alt="Cart" width="30" height="30" style="border-radius:30px;">
                        <span id="cart-count">0</span>
                    </div>
                    <div class="product-grid">
                        
                        <div class="product">
                            <img src="{% static 'image/arduino.jpg'%}" alt="Product 1" style="width:200PX; height: 200PX;">
                            <h3>ARDUINO UNO</h3>
                            <p>$10.00</p>
                            <a href="#" class="btn">Buy Now</a>
                        </div>
                        <div class="product">
                            <img src="{% static 'image/sonar-sensor.jpg'%}" alt="Product " style="width:200PX; height: 200PX;">
                            <h3>SONAR SENSOR</h3>
                            <p>$10.00</p>
                            <a href="#" class="btn">Buy Now</a>
                        </div>
                        <div class="product">
                            <img src="{% static 'image/potentiometer.jpg'%}" alt="Product " style="width:200PX; height: 200PX;">
                            <h3>POTENTIOMETER</h3>
                            <p>$10.00</p>
                            <a href="#" class="btn">Buy Now</a>
                        </div>
                        <div class="product">
                            <img src="{% static 'image/breadboard .jpg'%}" alt="Product" style="width:200PX; height: 200PX;">
                            <h3>BREAD BOARD</h3>
                            <p>$10.00</p>
                            <a href="#" class="btn">Buy Now</a>
                        </div>
                        <div class="product">
                            <img src="{% static 'image/step-motor.jpg'%}" alt="Product" style="width:200PX; height: 200PX;">
                            <h3>STEP MOTOR</h3>
                            <p>$10.00</p>
                            <a href="#" class="btn">Buy Now</a>
                        </div>
                        <div class="product">
                            <img src="{% static 'image/7segment.jpg'%}" alt="Product" style="width:200PX; height: 200PX;">
                            <h3>7-SEGMENTS</h3>
                            <p>$10.00</p>
                            <a href="#" class="btn">Buy Now</a>
                        </div>
                        <div class="product">
                            <img src="{% static 'image/battery.jpg'%}" alt="Product 1" style="width:200PX; height: 200PX;">
                            <h3>9V BATTERY</h3>
                            <p>$10.00</p>
                            <a href="#" class="btn">Buy Now</a>
                        </div>
                        <div class="product">
                            <img src="{% static 'image/switches.jpg'%}" alt="Product 1" style="width:200PX; height: 200PX;">
                            <h3>BOTTONS</h3>
                            <p>$10.00</p>
                            <a href="#" class="btn">Buy Now</a>
                        </div>
                        
                    </div>
                </section>

                <section class="categories">
                    <h2>Categories</h2>
                    <div class="category-grid">
                        <div class="category">
                            <img src="{% static 'image/sensors.jpg'%}" alt="Category 1" style="height: 180PX;width: 180PX;border-radius: 10px;">
                            <h3>Sensors</h3>
                        </div>
                        <div class="category">
                            <img src="{% static 'image/microcontroller.jpg'%}" alt="Category 1" style="height: 180PX;width: 180PX;border-radius: 10px;">
                            <h3>Microcontrollers</h3>
                        </div>
                        <div class="category">
                            <img src="{% static 'image/led.jpg'%}" alt="Category 1" style="height: 180PX;width: 180PX;border-radius: 10px;">
                            <h3>Leds</h3>
                        </div>
                        <div class="category">
                            <img src="{% static 'image/motors.jpg'%}" alt="Category 1" style="height: 180PX;width: 180PX;border-radius: 10px;">
                            <h3>Motors</h3>
                        </div>
                        <div class="category">
                            <img src="{% static 'image/wires.jpg'%}" alt="Category 1" style="height: 180PX;width: 180PX;border-radius: 10px;">
                            <h3>cables</h3>
                        </div>
                        
                    </div>
                </section>

                 
        <section class="about-us">
            <h2>About Us</h2>
            <p>We are dedicated to providing the best electronics components for Arduino enthusiasts...<br>
               We deliver our product around all parts of the world, we have created and improve our system in such a way that our clients anywhere around the world will receive their product with the 
                time of payment and the following 24hour. Our main goal is not to make profit or advertisement but to encourage anyone especially youth to have the chance to learn about technology including robotics,enhance their capacity in study and more </p>
        </section>

        
        <section class="testimonials">
            <h2>What Our Customers Say</h2>
            <div class="testimonial">
                <p>"Great products and fast delivery!"</p>
                <h3>- Adien James</h3>
                <p>"Very affordable price they offer!"</p>
                <h3>- Max Benz</h3>
                <p>"No need to buy shipping tax, they all do it for us"</p>
                <h3>- Lucifer Morningstar</h3>
                <p>"Best electronics service ever..."</p>
                <h3>- Zoe Midnightsun</h3>

            </div>
            <button class="read-more-btn">Read More</button>
        </section>


        <section class="newsletter">
            <h2>Stay Updated</h2>
            <p>Sign up for our newsletter to get the latest news and special offers.</p>
            <form>
                <input type="email" placeholder="Enter your email" style ="font-size: medium;border-radius: 5px;border-color: purple;">
                <button type="submit" style="box-shadow: darkblue; border-radius: 5px; background-color: aqua;">Subscribe</button>
            </form>
        </section>
            
        </main>
        <footer>
            <p>© 2023 Nysd.io. All rights reserved.</p>
            <nav>
                <a href="#"><img src="{% static 'image/facebook.png'%}"width="35px" height="35px"></a>
                <a href="#"><img src="{% static 'image/instagram.png'%}"width="35px" height="35px"></a>
                <a href="#"><img src="{% static 'image/linkedin.png'%}"width="35px" height="35px"></a>
                <a href="#"><img src="{% static 'image/twitter.png'%}" width="35px" height="35px"></a>
            </nav>

        </footer>
        

    </body>
</HTML>