<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICE PAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'service.css' %}">
</head>
<body>
    <header>
        <h1>WELCOME TO OUR PLATFORM</h1>
        <p>Here you will find the list of items we have, listed below.<br> 
        Feel free to enter your commands in the command box below,<br> 
        the price will be shown as soon as you enter your command.</p>     
    </header>

    <main>
        <h2>THE ELECTRONIC ITEMS WE'VE GOT!!!</h2>
      
        <p>{{ message }}</p>
        
        <div class="grid-container">
            <div class="grid-item">
                <ul>
                    <li>Modules</li>
                    <li>LED</li>
                    <li>Sensors</li>
                    <li>Motors</li>
                    <li>Microcontrollers</li>
                    <li>Wires and Cables</li>
                    
                </ul>
            </div>
            <hr>
            <div class="grid-item">
                <ul>
                    <li>Dc motor</li>
                    <li>Step Motors</li>
                    <li>Breadboard</li>
                    <li>Leds</li>
                    <li>Arduino</li>
                    <li>Raspberry pi</li>
                    <li>DFPlayer mini </li>
                    <li>Sonar Sensors</li>
                    <li>Battery</li>
                    <li>Jumper wires</li>
                    <li>L293D</li>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <p>Enter your command:</p>
       
        <form method="post">
            {% csrf_token %}
            <input type="text" name="command" placeholder="Enter a command">
            <button type="submit">Submit</button>
        </form>
    </footer>
</body>
</html>
