<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SERVICE PAGE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'service.css' %}">
    </head>
    <main>
        <header>
<h1>WELCOME TO OUR PLATFORM</h1>
<P>Here you will find the list of iterms we have, listed bellow.<br> Feel free to enter your commands in the command box bellow,<br> the price will be shown as soon as you enter your command.</P>     
</header>
        <body>
      <h2>THE ELECTRONIC ITERMS WE'VE GOT!!!</h2>
      <div class="grid-container">
        <div class="grid-item">
      <p>
        <li>RAM</li>
        <li>Computer Cooling system(Fan)</li>
        <li>Hard drive</li>
        <li>CMOS Battery</li>
        <li>Computer Peripheral(Connectors)</li>
        <li>ROM</li>
      </p>
    </div>
      <hr>
      <div class="grid-item">
      <p1>
        <ol>Cables</ol>
        <ol>LED</ol>
    <ol>Sensors</ol>
<ol>Motors</ol>
<ol>Bread baord</ol>
      </p1>
    </div>
    </div>
        </body>
        <footer>
        <p>Get your command</p>
        <form method="my server">
            <input type="text" placeholder="your command" id="command" name="Place your command">
        </form>
        </footer>

    </main>
</html>